@charset "UTF-8"; 

/* Paleta de Cores:
- Azul Escuro:
- Azul Claro:
*/ 

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-image: url(../imagens/espaço_agua-viva.jpg);
    background-size:cover;
    background-position: center center;
    height: 100vh;
    width: 100vw;
}

main {
    /* Centralizar DIV */
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #ffffff00;
    width: 350px;
    height: 520px;
    border-radius: 20px;
    overflow: hidden; /* Foto ter uma borda */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.500);


    transition: width 0.5s, heigth 0.5s;
    transition-timing-function: ease;
}

#imagem {
    display: block;
    background: blue url('../imagens/espaço_agua-viva.jpg');
    background-size:cover;
    background-position: center center;
    height: 140px;
}

#formulario {
    display: block;
    padding: 10px;
}

#formulario > h1 {
    text-align: center;
    color: white;
    font-size: 1.4em;
    text-shadow: 2px 2px 2px black;
    margin-bottom: 5px;
}

#formulario > p {
    text-align: center;
    font-size: 1em;
    color: white;
    text-shadow: 2px 2px 3px black;
    margin-bottom: 20px;
}

form > div.campo {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin-top: 7px;
    margin-bottom: 20px;
}

div.campo > span {
    color: white;
    font-size: 1.8em;
    width: 40px;
    padding: 5px;
}

div.campo > input  {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    border: 2px solid #1E88E5;
    font-size: 1em;
    width: calc(100% - 50px); /* Posicionamento da caixa (largura) */
    
    height: 100%;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-12px); /* Altura da Caixa */
}

div.campo > input:hover {
    border: 2px solid white;
    transition: transform 0.5s, border 0.7s;
    transition-timing-function: ease;
}

div.campo > input:focus-within {
    color: black;
    border: none;
}

form > input[type=submit] {
    display:block;
    background-color: #1E88E5;
    margin-bottom: 7px;
    color: white;
    font-size: 1em;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
}

form > input[type=submit]:hover {
    border: 2px solid white;
}

form > input[type=submit]:active {
    background-color: #fff0f0;
    color: #1E88E5;
    text-align: center;
    border: 2px solid #1E88E5;
    transition: transform 0.1s, border 0.5s;
    transition-timing-function: ease;
}

button {
    display:block;
    background-color: white;
    margin-bottom: 7px;
    color: #1E88E5;
    font-size: 1em;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    border: 2px solid #1E88E5;
}

button:active {
    background-color: #1E88E5;
    color: #fff0f0;
    text-align: center;
    border: 2px solid #1E88E5;
    transition: transform 0.1s, border 0.5s;
    transition-timing-function: ease;
}

form > a.esqueci {
    display: block;
    color: white;
    text-align: right;
    font-size: 1em;
    width: 100%;
    height: 30px;
    text-decoration: none;
    margin-top: 20px;
}

form > a.esqueci:hover {
    text-decoration: underline;
}
